    body {
    display: block;
    font-size: 10px;
    background-color: #FFFC95;
    font-family: 'Droid Sans', sans-serif;
  }
  
  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #86FF93;
    margin: 0;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 2.5em;
    color: black;
  }
  
  li a:hover {
    border: #56BACC;
    border-radius: 300px;
    background-color: #56BACC;
  }
  
  .footer {
    float: right;
    margin: 20px 150px 0 0;
  }
  
  @media screen and (min-width: 1101px) {
    .res-ul {
      padding: 0 100px 0 250px;
    }
    .li-margin {
      margin: 0 30px 0 0;
      float: left;
    }
    .main {
      margin: 40px 20px 0 200px;
    }
    .profilePic {
      float: left;
      max-width: 30%;
      padding: 30px;
      margin-bottom: 500px;
    }
    .info {
      width: 70%;
      font-size: 3em;
      color: #56BACC;
      line-height: 1.8em;
    }
  }
  
  @media screen and (max-width: 1100px) and (min-width: 569px) {
    .res-ul {
      padding: 0;
    }
    .li-margin {
      margin: 0 10px 0 0;
      float: left;
    }
    .main {
      margin: 5px 150px 0 25px;
    }
    .profilePic {
      max-width: 100%;
      padding: 30px;
      margin: 10px 0 30px 100px;
    }
    .info {
      width: 90%;
      font-size: 1.8em;
      color: #56BACC;
      line-height: 1.5em;
      margin: 5px 500px 0 25px;
    }
  }
  
  @media screen and (max-width: 568px) {
    .res-ul {
      padding: 0;
    }
    .li-margin {
      margin: 0;
      float: none;
    }
    .main {
      margin: 0;
    }
    .profilePic {
      width: 100%;
      padding: 10px;
      margin: 10px 0 50px 10px;
    }
    .info {
      width: 70%;
      font-size: 1.5em;
      color: #56BACC;
      line-height: 1.8em;
      margin: 20px;
    }
